/* Effective stylesheet produced by snapshot save */
@font-face {
  font-family: "Chelsea Market";
  font-style: normal;
  font-weight: 400;
  src: local("Chelsea Market"), local("ChelseaMarket-Regular"), url("qSdzwh2A4BbNemy78sJLfBRWMfMQaj_KSrIuqJtfm2o_woff2") format("woff2");
}
