/* Effective stylesheet produced by snapshot save */
.dropdown-menu, ol, ul { list-style: outside none none; }
.clearfix::after, .clearfix::before, blockquote::after, blockquote::before, q::after, q::before { content: ""; }
.btn:hover, .close:hover, a { text-decoration: none; }
#footer, #footer ul::after, #top-threads .meta::after, .actions::after, .auth-section .connect .services li.sso button.no-image, .auth-section .connect .services::after, .clearfix::after, .dropdown-menu a, .moderate .actions, .moderate::after, .nav-primary::after, .nav > ul, .nav > ul::after, .notice::after, .post-content .post-body .media-activated .media-content-placeholder, .post-content .post-menu::after, .post-content .post-message::after, .post-content footer, .post-content footer menu::after, .post-content::after, .post-list .post::after, .row::after, .textarea-wrapper::after, .tooltip footer::after { clear: both; }
body, html { margin: 0px; padding: 0px; }
a, abbr, acronym, address, blockquote, button, caption, cite, code, dd, del, dfn, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, img, label, legend, li, ol, p, pre, q, s, samp, small, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var { margin: 0px; padding: 0px; border: 0px none; font-weight: 400; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }
html { overflow-y: scroll; font-size: 100%; }
a:active, a:hover { outline: 0px none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio:not([controls]) { display: none; }
img { border: 0px none; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
*, .btn-block, .input-block-level { box-sizing: border-box; }
.input-wrapper input, .inputBg, .suggestions, .textarea-wrapper, button.close {  }
#layout, .btn-default, .follow-btn { overflow: hidden; }
.clearfix::after, .clearfix::before { display: table; line-height: 0; }
.btn-default, .close, body { line-height: 20px; }
body { margin: 0px; background-color: rgb(255, 255, 255); }
.btn-block, .show { display: block; }
.btn-default, .dropdown { position: relative; }
.btn { margin-bottom: 0px; font-size: 14px; text-align: center; vertical-align: middle; cursor: pointer; background-color: rgb(245, 245, 245); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230)); background-repeat: repeat-x; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn.active, .btn.disabled, .btn:active, .btn:hover, .btn[disabled] { color: rgba(29, 47, 58, 0.6); background-color: rgb(230, 230, 230); }
.btn:hover { background-color: rgb(230, 230, 230); background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.btn.active, .btn:active, .dropdown-toggle:active, .open .dropdown-toggle, .textarea-wrapper .textarea:focus, a:focus { outline: 0px none; }
.btn.active, .btn:active { background-color: rgb(230, 230, 230); background-image: none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn-danger, .btn-info, .btn-inverse, .btn-primary, .btn-success, .btn-warning { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-repeat: repeat-x; }
.btn-small { padding: 2px 10px; font-size: 11.9px; border-radius: 3px; }
.btn-primary { background-color: rgb(0, 76, 214); background-image: linear-gradient(to bottom, rgb(0, 105, 214), rgb(0, 34, 214)); border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-primary.active, .btn-primary.disabled, .btn-primary:active, .btn-primary:hover, .btn-primary[disabled] { color: rgb(255, 255, 255); background-color: rgb(0, 34, 214); }
.btn-primary.active, .btn-primary:active {  }
.alert, .btn, .btn.busy { text-shadow: none; }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.caret { display: inline-block; width: 0px; height: 0px; text-indent: -99999px; vertical-align: top; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid rgb(0, 0, 0); opacity: 0.3; content: "↓"; }
.dropdown .caret { margin-top: 8px; margin-left: 2px; }
.dropdown:hover .caret, .open.dropdown .caret { opacity: 1; }
.dropdown-menu { position: absolute; top: 49px; left: 0px; float: left; display: none; max-width: 220px; padding: 4px 0px; margin: 0px; background-color: rgb(255, 255, 255); background-clip: padding-box; }
.close, .dropdown.open .dropdown-menu, button.alert { display: block; }
.dropdown-menu a { display: block; font-weight: 500; line-height: 18px; white-space: nowrap; }
h3, strong, strong a { font-weight: 700; }
.dropdown-menu .active > a, .dropdown-menu .active > a:hover, .dropdown-menu li > a:hover { color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(46, 159, 255); }
h3, p { margin: 0px 0px 1.5em; }
body { background: transparent none repeat scroll 0px 0px; color: rgb(63, 69, 73); font-family: "Helvetica Neue",arial,sans-serif; font-size: 15px; }
a:active, a:hover { text-decoration: none; }
a { color: rgb(40, 140, 228); transition: color 0.1s linear 0s; }
a:hover { color: rgb(25, 119, 202); }
button.alert { width: 100%; }
button::-moz-focus-inner { border: 0px none; }
h3 { font-size: 16px; }
h5, h6 { font-weight: 700; font-size: 11px; color: rgb(127, 146, 156); margin: 0px 0px 10px; line-height: 1; }
h5 { color: rgba(0, 39, 59, 0.5); }
h6 { color: rgba(0, 39, 59, 0.5); text-transform: uppercase; }
.alert { background-color: rgb(252, 248, 227); }
.alert, .alert a:active:hover, .alert a:hover, .alert a:visited:hover { color: rgb(255, 255, 255); }
.alert { background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; padding: 10px 35px 10px 14px; border: medium none; border-radius: 4px; font-weight: 700; line-height: 20px; font-size: 13px; }
.alert.info, .alert.realtime { background: rgb(46, 159, 255) none repeat scroll 0% 0%; }
.notice::after, .notice::before { display: table; content: ""; line-height: 0; }
.btn { border: medium none; background: rgba(29, 47, 58, 0.6) none repeat scroll 0% 0%; display: inline-block; padding: 10px 16px; color: rgb(255, 255, 255); line-height: 1.1; border-radius: 3px; font-weight: 500; transition: background 0.2s ease 0s; }
.btn:hover { background: rgba(29, 47, 58, 0.7) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.btn.active, .btn:active { transition: none 0s ease 0s ; background: rgb(46, 159, 255) none repeat scroll 0% 0%; }
.btn.btn-small { font-size: 12px; padding: 8px 10px; background-position: 0px -10px; }
.btn.btn-small:hover { background-position: 0px -40px; }
.follow-btn.private .icon-lock::before { position: relative; top: 1px; }
@font-face {
  font-family: "icons";
  font-style: normal;
  font-weight: 400;
  src: url("urn:not-loaded:http://a.disquscdn.com/next/embed/assets/font/icons.6cedda92771dd2be9a5680490bf1a8c5.eot?#iefix") format("embedded-opentype"), url("icons_dcb5405f8abc9a80e5628869f735eaf0_woff") format("woff");
}
[class*=" icon-"]::before, [class^="icon-"]::before { font-family: icons; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; }
.icon-allstar::before { content: ""; }
.icon-arrow-2::before { content: "△"; }
.icon-arrow-back::before { content: "❰"; }
.icon-arrow-down::before { content: ""; }
.icon-arrow-forward::before { content: "❱"; }
.icon-arrow-up::before { content: ""; }
.icon-arrow::before { content: "▽"; }
.icon-bell::before { content: "⬦"; }
.icon-camera::before { content: "⌼"; }
.icon-cancel::before { content: "✕"; }
.icon-checkmark::before { content: "✔"; }
.icon-clock::before { content: "⏲"; }
.icon-cog::before { content: "⚙"; }
.icon-comment::before { content: ""; }
.icon-discovery::before { content: "☄"; }
.icon-discussion::before { content: ""; }
.icon-disqus::before { content: "d"; }
.icon-expand-corners::before { content: "⤢"; }
.icon-expand::before { content: "⏍"; }
.icon-export::before { content: "⤤"; }
.icon-facebook-circle::before { content: "F"; }
.icon-facebook::before { content: "f"; }
.icon-feed::before { content: "r"; }
.icon-flag::before { content: "⚑"; }
.icon-forward::before { content: ">"; }
.icon-google-plus-circle::before { content: "G"; }
.icon-google-plus::before { content: "g"; }
.icon-heart::before { content: ""; }
.icon-images::before { content: "⛺"; }
.icon-link::before { content: "»"; }
.icon-location::before { content: "⍑"; }
.icon-lock::before { content: "🔒"; }
.icon-mail::before { content: "✉"; }
.icon-map::before { content: "◫"; }
.icon-megaphone::before { content: ""; }
.icon-menu::before { content: "☰"; }
.icon-minus::before { content: "-"; }
.icon-music::before { content: "♫"; }
.icon-pause::before { content: "⚌"; }
.icon-pencil-large::before { content: "✎"; }
.icon-pencil::before { content: "✏"; }
.icon-photo::before { content: "◱"; }
.icon-pin::before { content: "↙"; }
.icon-play::before { content: "►"; }
.icon-plus::before { content: "+"; }
.icon-proceed::before { content: "→"; }
.icon-remove::before { content: "✖"; }
.icon-reply-large::before { content: "↩"; }
.icon-reply::before { content: "<"; }
.icon-search::before { content: "⚲"; }
.icon-share::before { content: "⥅"; }
.icon-site-new::before { content: ""; }
.icon-site::before { content: ""; }
.icon-star::before { content: "★"; }
.icon-trophy::before { content: "🏆"; }
.icon-twitter-circle::before { content: "T"; }
.icon-twitter::before { content: "t"; }
.icon-video::before { content: "▶"; }
.icon-warning::before { content: "⚠"; }
.icon-write::before { content: "⧄"; }
#layout > section { min-height: 125px; }
#no-posts { opacity: 0.6; line-height: 107px; text-align: center; }
.pull-left, .pull-right { float: right ! important; }
.alert { margin-bottom: 24px; }
.load-more { margin: 0px 0px 24px; }
.load-more .btn { font-size: 13px; font-weight: 500; display: block; text-align: center; padding: 11px 14px; }
.input-wrapper input { transition: all 0.2s linear 0s; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 2px solid rgba(0, 39, 59, 0.2); padding: 5px 9px; margin: 0px; border-radius: 4px; width: 100%; font-size: 13px; height: 32px; }
.input-wrapper input:focus { border: 2px solid rgba(0, 39, 59, 0.35); outline: 0px none; }
.input-wrapper .input-label::after { content: ""; position: absolute; left: 15px; top: -5px; width: 10px; height: 10px; background-color: inherit; transform: rotate(45deg); }
.post-actions { visibility: hidden; opacity: 0; background: rgb(246, 248, 249) none repeat scroll 0% 0%; border-radius: 0px 0px 2px 2px; border-top: 2px solid rgba(0, 39, 59, 0.2); border-color: rgba(0, 39, 59, 0.2); position: absolute; bottom: 0px; left: 0px; right: 0px; height: 36px; }
.post-actions .wysiwyg { position: absolute; top: 2px; left: 2px; }
.post-actions .wysiwyg li { float: left; position: relative; }
.post-actions .wysiwyg li input[type="file"] { visibility: hidden; width: 1px; }
.post-actions .wysiwyg li a { display: block; height: 30px; width: 34px; position: relative; }
.post-actions .wysiwyg li a span { display: block; position: absolute; top: 9px; left: 10px; text-indent: -9999em; opacity: 0.65; width: 14px; height: 14px; }
.post-actions .wysiwyg li a.attach span { background-image: url("sprite.06bad3144429d24544aa8b00ffd77160.png"); background-position: 0px 0px; width: 14px; height: 14px; }
.post-actions .wysiwyg li.active a span, .post-actions .wysiwyg li:active a span, .post-actions .wysiwyg li:hover a span { opacity: 1; }
.textarea-wrapper { position: relative; margin: 0px 0px 0px 60px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 2px solid rgba(0, 39, 59, 0.2); border-radius: 4px; }
.textarea-wrapper:focus { border: 2px solid rgba(0, 39, 59, 0.35); }
.textarea-wrapper::after, .textarea-wrapper::before { display: table; content: ""; line-height: 0; }
.textarea-wrapper .textarea { color: rgb(63, 69, 73); cursor: text; resize: none; border: 0px none; display: block; padding: 6px 10px 8px; margin: 0px; width: 100%; min-height: 44px; height: auto; line-height: 1.4; font-size: 14px; font-family: "Helvetica Neue",arial,sans-serif; overflow-y: scroll; transition: all 0.15s ease-in-out 0s; }
.textarea-wrapper .textarea div, .textarea-wrapper .textarea p { margin: 0px; line-height: 1.4; }
.textarea-wrapper .placeholder { color: rgba(0, 39, 59, 0.35); line-height: 30px; font-size: 18px; position: absolute; top: 7px; left: 10px; right: 9px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; cursor: text; }
.postbox { position: relative; }
.postbox .media-drag-hover { position: absolute; overflow: hidden; top: 0px; left: 0px; right: 0px; bottom: 0px; border-radius: 3px; background-color: rgba(0, 0, 0, 0.4); text-align: center; font-weight: 700; z-index: 2000; color: rgb(255, 255, 255); }
.postbox .media-drag-hover .drag-text { border: 3px dashed rgb(255, 255, 255); padding: 12px; position: absolute; top: 50%; left: 0px; right: 0px; margin: -22px 30px 0px; text-align: center; border-radius: 6px; height: 45px; }
.postbox .media-preview { transition: padding-bottom 0.15s ease-in-out 0s; background: rgba(16, 48, 68, 0.03) none repeat scroll 0% 0%; border-top: 2px solid rgba(0, 39, 59, 0.2); border-color: rgba(0, 39, 59, 0.2); padding: 10px 0px 8px; margin: 20px 0px 0px; }
.postbox .media-preview .empty, .postbox .media-preview.empty { display: none; }
.postbox .media-preview .media-expanded { max-height: 300px; margin: 8px 8px 0px; position: relative; text-align: center; }
.postbox .media-preview .media-expanded img { max-height: 300px; max-width: 100%; }
.postbox .media-preview ul { display: inline; }
.postbox section { border-radius: 0px 0px 3px 3px; }
.avatar .user, .avatar img { display: block; border-radius: 3px; }
.postbox section .guest-form-title { display: inline-block; }
.postbox section label { font-size: 13px; color: rgba(0, 39, 59, 0.5); }
.postbox section .what-is-disqus { cursor: pointer; display: inline-block; position: relative; }
.postbox section .what-is-disqus:hover #rules { opacity: 1; visibility: visible ! important; }
.postbox section #rules { opacity: 0; visibility: hidden; text-indent: 0px; z-index: 1001; position: absolute; width: 300px; left: 8px; top: 20px; margin-left: -155px; padding: 18px 14px 4px; }
.postbox section #rules h3 { color: rgba(0, 39, 59, 0.5); padding: 0px 4px; margin: 0px 0px 14px; font-weight: 700; }
.postbox section #rules ul { list-style: outside none disc; padding: 0px 0px 0px 20px; margin: 0px 0px 14px; }
.postbox section #rules ul li { color: rgba(0, 39, 59, 0.5); list-style: outside none disc; margin: 0px 0px 6px; line-height: 1.4; font-size: 13px; }
.postbox section #rules ul li span { color: rgba(29, 47, 58, 0.6); }
.postbox section #rules .btn { font-size: 12px; padding: 10px; margin-bottom: -2px; display: block; text-align: center; }
.avatar { float: left; }
.avatar img { width: 48px; height: 48px; }
.avatar .user { position: relative; z-index: 100; background: rgba(0, 39, 59, 0.2) none repeat scroll 0% 0%; }
#form .avatar, #top-threads .avatar, .notifications .avatar, .tooltip .avatar { position: absolute; left: 0px; transition: left 0.2s linear 0s; }
.post .avatar { margin-right: 12px; }
#form .postbox { margin: 0px 0px 24px; }
@media (max-width: 500px) {
  #form .avatar { display: none; }
  #form .textarea-wrapper { margin-left: 0px ! important; }
}
.auth-section .proceed .next, .auth-section .proceed.is-submitting .icon-proceed, .expanded.authenticated .postbox .logged-out { display: none; }
.auth-section { display: none; padding: 10px 0px 0px; margin: 0px 0px 0px 60px; z-index: 200; }
.auth-section .proceed { float: right; font-size: 12px; width: 60px; position: relative; }
.auth-section .proceed .btn { height: 32px; padding: 9px 0px; width: 100%; text-align: center; }
.auth-section .connect { float: left; }
.auth-section .connect .services { margin: 0px 0px 18px; }
.auth-section .connect .services::after, .auth-section .connect .services::before { display: table; content: ""; line-height: 0; }
.auth-section .connect .services li { float: left; margin: 0px 3px 0px 0px; }
.auth-section .connect .services button { font-size: 11px; display: block; width: 34px; height: 34px; text-indent: -9999em; opacity: 0.9; }
.auth-section .connect .services button:hover { opacity: 1; }
.auth-section .connect .services button { background: transparent none repeat scroll 0px 0px; }
.auth-section .connect .services .auth-twitter button { background-image: url("sprite.06bad3144429d24544aa8b00ffd77160.png"); background-position: 0px -234px; width: 34px; height: 34px; }
.auth-section .connect .services .auth-facebook button { background-image: url("sprite.06bad3144429d24544aa8b00ffd77160.png"); background-position: 0px -166px; width: 34px; height: 34px; }
.auth-section .connect .services .auth-google button { background-image: url("sprite.06bad3144429d24544aa8b00ffd77160.png"); background-position: 0px -200px; width: 34px; height: 34px; }
.auth-section .connect .services .auth-disqus button { background-image: url("sprite.06bad3144429d24544aa8b00ffd77160.png"); background-position: 0px -132px; width: 35px; height: 34px; }
.auth-section .guest { margin-left: 156px; padding: 2px 0px 0px 10px; min-height: 32px; }
.auth-section .guest p { margin: 0px 0px 12px; }
.auth-section .guest .guest-details { overflow: hidden; display: none; }
.auth-section .guest .guest-checkbox { margin: 9px 2px 12px 0px; float: left; }
.auth-section .guest .guest-text { display: none; }
.ie8 .spinner, .ie9 .spinner, .register .proceed .submit, .spinner { display: none; }
.acceptance-wrapper { margin: 12px 0px; font-size: 13px; font-weight: 500; line-height: 1.5em; color: rgba(0, 39, 59, 0.35); }
.acceptance-wrapper a { font-weight: 500; }
.spinner { z-index: 50; width: 15px; height: 15px; border-radius: 28px; border-width: 2px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent rgb(255, 255, 255); margin: auto; animation: 1.2s linear 0s normal none infinite running rotate-loading; }
.badge, .nav, .nav .dropdown-toggle { position: relative; }
.actions::after, .actions::before, .row::after, .row::before { content: ""; display: table; }
@keyframes rotate-loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.actions::after, .actions::before { line-height: 0; }
.row::after, .row::before { line-height: 0; }
.dropdown-menu { font-size: 13px; border: 2px solid rgba(0, 39, 59, 0.35); border-radius: 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: none; min-width: 130px; z-index: 1001; }
.dropdown-menu.pull-right { right: 0px; left: auto; }
.dropdown-menu .share ul, .dropdown-menu .share ul > li { display: inline; }
.dropdown-menu a { transition: none 0s ease 0s ; color: rgba(0, 39, 59, 0.5); padding: 4px 15px; }
.nav { margin: 0px 0px -6px; padding: 0px; }
.nav > ul::after, .nav > ul::before { display: table; content: ""; line-height: 0; }
.nav > ul > li { float: left; }
.nav > ul > li #community-tab .community-name-placeholder { display: none; }
@media (max-width: 480px) {
  .nav > ul > li #community-tab .community-name { display: none; }
  .nav > ul > li #community-tab .community-name-placeholder { display: block; }
}
.nav > ul > li > a, .nav > ul > li > div a { display: block; margin: 0px; padding: 0px; color: rgba(0, 39, 59, 0.5); font-weight: 700; font-size: 13px; line-height: 1; position: relative; transition: all 0.2s ease-in-out 0s; }
.nav > ul > li > a:hover, .nav > ul > li > div a:hover { color: rgb(63, 69, 73); }
.nav .dropdown-toggle { padding-right: 12px; background: transparent none repeat scroll 0px 0px ! important; color: rgba(0, 39, 59, 0.5) ! important; }
.nav .dropdown-toggle:hover { color: rgb(63, 69, 73) ! important; }
.nav .dropdown-toggle .caret { display: block; position: absolute; right: 0px; top: 5px; margin: 0px; transition: all 0.2s ease 0s; }
.nav .dropdown-menu { top: 20px; border-radius: 3px; }
.nav .dropdown-menu.share-menu { max-width: none; }
.nav .dropdown-menu li .icon-checkmark::before { display: none; }
.nav .dropdown-menu li.selected a { position: relative; }
.nav .dropdown-menu li.selected a .icon-checkmark::before { font-size: 11px; position: absolute; right: 10px; top: 12px; display: block; }
.nav-primary { margin: 0px 0px 24px; border-bottom: 2px solid rgba(0, 39, 59, 0.08); border-color: rgba(0, 39, 59, 0.08); padding: 0px; }
.nav-primary::after, .nav-primary::before { display: table; content: ""; line-height: 0; }
.nav-primary > ul > li > a { margin: 0px 15px; padding: 12px 0px; font-size: 15px; font-weight: 700; }
@media (max-width: 480px) {
  .nav-primary > ul > li > a { margin: 0px 15px 0px 0px; }
}
.nav-primary > ul > li.active > a { color: rgb(63, 69, 73) ! important; }
.nav-primary > ul > li.active > a::after { content: " "; display: block; right: 0px; height: 2px; background: rgb(46, 159, 255) none repeat scroll 0% 0%; position: absolute; bottom: -2px; left: 0px; }
.nav-primary > ul > li.tab-conversation a { margin-left: 0px; text-transform: capitalize; }
.nav-primary > ul > li.tab-conversation a .comment-count-placeholder { display: none; }
@media (max-width: 480px) {
  .nav-primary > ul > li.tab-conversation a .comment-count { display: none; }
  .nav-primary > ul > li.tab-conversation a .comment-count-placeholder { display: block; }
}
.nav-primary > ul > li.notification-menu a::after, .nav-primary > ul > li.notification-menu.notification-loading .notification-container { display: none; }
.nav-primary > ul > li.notification-menu { float: right; margin-top: 11px; padding: 0px; width: 19px; }
.nav-primary > ul > li.notification-menu a { position: relative; top: -1px; margin: 0px; }
.nav-primary > ul > li.notification-menu a .notification-icon { position: absolute; top: 0px; left: 0px; font-size: 19px; transition: color 0.1s ease 0s; }
.nav-primary > ul > li.notification-menu a .notification-count { position: absolute; top: 4px; left: 0px; width: 20px; color: rgb(255, 255, 255); font-size: 10px; font-weight: 700; text-align: center; }
.nav-primary > ul > li.notification-menu.unread a.notification-container .notification-icon { color: rgb(245, 85, 103); }
.nav-primary > ul > li.notification-menu.unread a.notification-container:hover .notification-icon { color: rgb(242, 37, 60); }
.nav-primary > ul > li.notification-menu.notification-loading::before { content: ""; display: block; width: 14px; height: 14px; border-radius: 25px; border-width: 2px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent rgba(0, 39, 59, 0.35); position: absolute; top: 0px; left: 1px; animation: 1.5s linear 0s normal none infinite running rotate-loading; transform-origin: 50% 50% 0px; }
.nav-primary > ul > li.user-menu { float: right; margin-left: 10px; }
.nav-primary > ul > li.user-menu .dropdown-toggle { max-width: 160px; height: 33px; margin: 0px; }
.nav-primary > ul > li.user-menu .dropdown-toggle .caret { top: 18px; right: 0px; }
.nav-primary > ul > li.user-menu .dropdown-toggle .dropdown-toggle-wrapper { white-space: nowrap; }
.nav-primary > ul > li.user-menu .dropdown-toggle .dropdown-toggle-wrapper::before { content: ""; }
.nav-primary > ul > li.user-menu .dropdown-menu { left: auto; top: 33px; right: 0px; }
@media (min-width: 500px) {
  .nav-primary > ul > li.user-menu { margin-left: 6px; }
  .nav-primary > ul > li.user-menu .dropdown-toggle { overflow: hidden; text-overflow: ellipsis; padding-right: 14px; }
}
.has-highlighted-post .highlight-toggle, .nav-secondary > ul > li.recommend .thread-likes a .label-recommended, .nav-secondary > ul > li.recommend .thread-likes a.upvoted .label-default { display: none; }
.nav-secondary { margin: -12px 0px 12px; }
.nav-secondary > ul > li { margin-bottom: 12px; }
.nav-secondary > ul > li .dropdown-toggle { position: relative; }
.nav-secondary > ul > li [class|="icon"]::before { position: relative; top: 0.25em; line-height: 0; font-size: 19px; }
.nav-secondary > ul > li a { width: auto; font-weight: 700; font-size: 13px; }
.nav-secondary > ul > li .caret { top: 15px; right: 0px; }
.nav-secondary > ul > li.sorting { margin-left: 12px; }
.nav-secondary > ul > li.recommend .thread-likes a { position: relative; z-index: 100; margin-right: 0px; }
.nav-secondary > ul > li.recommend .thread-likes a .icon-heart { margin-right: 1px; }
.nav-secondary > ul > li.recommend .thread-likes a .icon-heart::before { top: 0.18em; font-size: 13px; padding-left: 0.5px; }
.nav-secondary > ul > li.recommend .thread-likes a .label-count { position: relative; }
.nav-secondary > ul > li.recommend .thread-likes a .label-count::after { position: absolute; top: 50%; left: 50%; margin: -25px 0px 0px -25px; width: 50px; height: 50px; border-radius: 50%; content: ""; opacity: 0; pointer-events: none; background: rgba(240, 95, 112, 0.2) none repeat scroll 0% 0%; }
.nav-secondary > ul > li.recommend .thread-likes a:hover {  }
.nav-secondary > ul > li.recommend .thread-likes a:hover .label-count { color: rgb(63, 69, 73); }
.nav-secondary > ul > li.recommend .thread-likes a.upvoted .label-count::after { animation: 0.4s ease 0s normal forwards 1 running anim-heart; }
.nav-secondary > ul > li.share-menu { margin-left: 15px; }
.nav-secondary > ul > li.share-menu .dropdown-toggle { padding-right: 0px; }
.nav-secondary > ul > li.share-menu .icon-export::before { top: 0.31em; margin-right: -1px; }
.nav-secondary > ul > li.share-menu .dropdown-menu { padding: 0px; }
.nav-secondary > ul > li.share-menu .dropdown-menu li a { padding: 5px 10px; }
.nav-secondary > ul > li.share-menu .dropdown-menu .share { white-space: nowrap; color: rgba(0, 39, 59, 0.5); font-size: 13px; padding: 5px 10px; position: relative; font-weight: 500; }
.nav-secondary > ul > li.share-menu .dropdown-menu .share li { border: medium none; }
.label-count, .nav-secondary > ul > li.share-menu .dropdown-menu .share a:hover { border-radius: 2px; }
.nav-secondary > ul > li.share-menu .dropdown-menu .share a { padding: 0px; }
@keyframes anim-heart {
  0% { opacity: 0; transform: scale(0.2, 0.2); }
  50% { opacity: 1; transform: scale(1.2, 1.2); }
  100% { opacity: 0; transform: scale(0.75, 0.75); }
}
.label-count { font-size: 11px; font-weight: 700; padding: 2px 5px 3px; background: rgba(0, 39, 59, 0.08) none repeat scroll 0% 0%; color: rgba(29, 47, 58, 0.7); margin-left: 2px; transition: all 0.2s ease-in-out 0s; }
.dropdown-menu.coachmark { padding: 15px; text-align: center; max-width: 300px; width: 300px; border: 1px solid rgba(0, 39, 59, 0.2); box-shadow: 0px 1px 3px rgba(0, 39, 59, 0.2); top: 26px; left: 3px; }
.dropdown-menu.coachmark h2 { font-size: 15px; font-weight: 700; line-height: 1.4em; color: rgb(63, 69, 73); }
.dropdown-menu.coachmark p { line-height: 1.4em; margin-bottom: 10px; margin-top: 5px; font-size: 14px; color: rgb(118, 129, 135); }
.dropdown-menu.coachmark .btn-primary { display: block; padding: 10px 0px; background: rgb(46, 159, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-weight: 700; }
.dropdown-menu.coachmark::after, .dropdown-menu.coachmark::before { bottom: 100%; left: 50%; border: medium solid transparent; content: " "; height: 0px; width: 0px; position: absolute; pointer-events: none; }
.dropdown-menu.coachmark::after { border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(255, 255, 255); border-width: 10px; margin-left: -96px; }
.dropdown-menu.coachmark::before { border-color: rgba(204, 204, 204, 0) rgba(204, 204, 204, 0) rgba(29, 47, 58, 0.7); border-width: 10px; margin-left: -96px; }
.post-list { list-style-type: none; margin: 0px; }
.post-list .post::after, .post-list .post::before { display: table; content: ""; line-height: 0; }
.children .post, .post-list > .post > .post-content .reply-form-container .postbox { margin-left: 60px; }
.post-meta { display: inline-block; }
.children .post::after, .children .post::before, .post-content::after, .post-content::before { content: ""; display: table; line-height: 0; }
.children .post::after { clear: both; }
.children .post .avatar .user img { width: 36px; height: 36px; }
.children .post .indicator { height: 36px; }
.post-content { position: relative; margin-bottom: 24px; transition: all 0.2s ease-in-out 0s; }
.post-content .indicator { position: absolute; top: 0px; left: 0px; width: 5px; height: 48px; border-radius: 3px; }
.post-content .bullet { padding: 0px; font-size: 75%; color: rgb(204, 204, 204); line-height: 1.4; }
.post-content .post-menu { opacity: 0; visibility: hidden; position: absolute; top: 3px; right: 0px; }
.post-content .post-menu::after, .post-content .post-menu::before { display: table; content: ""; line-height: 0; }
.post-content .post-menu .dropdown-toggle { border-left: 2px solid rgba(0, 39, 59, 0.08); border-color: rgba(0, 39, 59, 0.08); padding-left: 5px; }
.post-content .post-menu > li { float: left; margin: 0px 0px 0px 8px; }
.post-content .post-menu > li a { color: rgba(0, 0, 0, 0.5) ! important; }
.post-content .post-menu .collapse a, .post-content .post-menu .expand a { font-size: 20px; opacity: 0.6; position: relative; top: -6px; padding: 10px 0px 10px 10px; }
.post-content .post-menu .collapse a:hover, .post-content .post-menu .expand a:hover { opacity: 1; }
.post-content .post-menu .expand { display: none; }
.post-content header { color: rgb(119, 119, 119); line-height: 1; font-size: 13px; padding-right: 46px; margin-bottom: 3px; }
.post-content header .bullet { padding: 0px 4px; }
.post-content header .author, .post-content header a { font-weight: 700; }
.post-content header .parent-link, .post-content header .state-byline, .post-content header .time-ago { font-weight: 500; font-size: 12px; color: rgba(0, 39, 59, 0.35); }
.post-content .post-body { overflow: hidden; }
.post-content .post-message-container { position: relative; overflow: hidden; width: 100%; }
.post-content .post-message { line-height: 21px; }
.post-content .post-message::after, .post-content .post-message::before { display: table; content: ""; line-height: 0; }
.post-content .post-message p { line-height: 21px; margin: 0px 0px 15px; }
.post-content .post-message p:last-child { margin: 0px; }
.post-content .see-more { padding: 10px 0px; border-top: 2px solid rgba(0, 39, 59, 0.08); border-color: rgba(0, 39, 59, 0.08); color: rgba(29, 47, 58, 0.6); }
.post-content .see-more::before { content: ""; display: block; height: 3px; box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.08); position: relative; top: -11px; }
.post-content footer { color: rgba(29, 47, 58, 0.6); margin: 4px 0px 0px; }
.post-content footer .bullet { line-height: 1.5; }
.post-content footer menu { margin: 0px; padding: 0px; }
.post-content footer menu::after, .post-content footer menu::before { display: table; content: ""; line-height: 0; }
.post-content footer menu li { float: left; list-style-type: none; margin: 0px 7px 0px 0px; padding: 0px; font-size: 13px; line-height: 15px; }
.post-content footer menu li .icon-mobile { display: none; }
.post-content footer a { color: rgba(0, 39, 59, 0.35); font-weight: 500; }
.post-content footer a:hover { color: rgba(29, 47, 58, 0.6); }
.post-content footer .voting { border-radius: 3px; position: relative; }
.post-content footer .voting .vote-down, .post-content footer .voting .vote-up { position: relative; display: inline-block; padding: 0px 3px; line-height: 0.85; height: 11px; color: rgba(0, 39, 59, 0.35); min-height: 14px; }
.post-content footer .voting .vote-down::after, .post-content footer .voting .vote-up::after { content: ""; display: block; position: absolute; top: -10px; left: 0px; right: -6px; bottom: -10px; }
.post-content footer .voting .vote-down.count-0 .count, .post-content footer .voting .vote-up.count-0 .count { display: none; }
.post-content footer .voting .control { font-size: 16px; font-weight: 700; opacity: 0.7; }
.post-content footer .voting .count { position: relative; top: -3px; font-size: 13px; }
.post-content footer .voting .vote-down:hover, .post-content footer .voting .vote-up:hover { cursor: pointer; }
.post-content footer .voting .vote-down:hover .control, .post-content footer .voting .vote-up:hover .control { opacity: 1; }
.post-content footer .voting .vote-up { padding-left: 0px; }
.post-content footer .voting .vote-up::after { right: -3px; left: -5px; }
.post-content footer .voting .vote-up.count-0 { margin-left: -3px; }
.post-content footer .voting .vote-down { padding-right: 0px; padding-left: 6px; border-left: 2px solid rgba(0, 39, 59, 0.08); border-color: rgba(0, 39, 59, 0.08); }
.post-content footer .share { position: relative; }
.post-content footer .share .toggle { position: relative; z-index: 100; cursor: pointer; }
.post-content footer .share ul { white-space: nowrap; display: inline-block; opacity: 0; visibility: hidden; }
.post-content .post-menu.open, .post-content:hover .post-menu { visibility: visible ! important; }
.post-content footer .share ul li { float: none; transition: right 0.4s ease-in-out 0s; opacity: 0; position: absolute; right: 30px; top: -2px; padding-left: 8px; }
.post-content .post-menu.open, .post-content footer .share:hover ul li, .post-content:hover .post-menu { opacity: 1; }
.post-content footer .share:hover ul { opacity: 1; visibility: visible ! important; }
.post-content footer .share:hover ul li.twitter { right: -28px; }
.post-content footer .share:hover ul li.facebook { right: -52px; }
.post-content footer .share:hover ul li.link { right: -76px; }
.post-content .realtime { float: right; margin: 0px; }
.post-content .realtime .realtime-replies { color: rgba(0, 39, 59, 0.5); font-size: 85%; }
.post-content .realtime .btn { transition: right 0.2s ease-in-out 0s; display: inline; font-size: 10px; padding: 0px 0px 0px 14px; position: relative; box-shadow: none; background: transparent none repeat scroll 0px 0px; text-shadow: none; border: medium none; right: -100%; }
.post-content .realtime .btn:hover { color: rgba(29, 47, 58, 0.6); }
.post-content:hover footer .voting .vote-down, .post-content:hover footer .voting .vote-up, .post-content:hover footer a, .post-content:hover header .parent-link, .post-content:hover header .state-byline-default, .post-content:hover header .time-ago { color: rgba(0, 39, 59, 0.5); }
.use-opacity-transitions .post-content footer .voting { transition: opacity 0.3s ease 0s; }
.use-opacity-transitions .post-content footer .voting .control { transition: opacity 0.2s linear 0s; }
.use-opacity-transitions .post-content .share ul li { transition-property: opacity, right; }
.mention::before { content: "@"; }
.suggestions { position: absolute; left: 0px; top: 99%; z-index: 1002; width: 100%; box-sizing: content-box; margin: 0px -2px -2px; padding: 0px; list-style-type: none; line-height: 1; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 2px solid rgba(0, 39, 59, 0.2); border-radius: 0px 0px 3px 3px; cursor: pointer; }
#top-threads .likes, .suggestions li { position: relative; }
.suggestions li { color: rgba(29, 47, 58, 0.6); padding: 8px; font-weight: 500; overflow: hidden; }
.suggestions li:hover { background-color: rgba(0, 39, 59, 0.08); }
.suggestions li.header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 8px; margin: 0px; }
.share .facebook a, .share .link a, .share .twitter a { background-image: url("sprite.06bad3144429d24544aa8b00ffd77160.png"); width: 18px; height: 18px; }
.suggestions li.header h5 { margin: 0px; padding: 0px; border: 0px none; font-weight: 700; font-size: 11px; text-transform: uppercase; line-height: 11px; color: rgb(153, 153, 153); }
.share .twitter a { background-position: 0px -50px; }
.share .facebook a { background-position: 0px -14px; }
.share .link a { background-position: 0px -32px; }
.share > * a { display: inline-block; width: 18px ! important; height: 18px ! important; opacity: 0.6; text-indent: -9999em; overflow: hidden; padding: 0px; }
.share > * a:hover { opacity: 0.8; }
.hidden { display: none; }
.moderate::after, .moderate::before { display: table; content: ""; line-height: 0; }
.upvoters-outer::after, .upvoters-outer::before { background-repeat: repeat-x; background-color: rgba(255, 255, 255, 0); }
#top-threads .meta::after, #top-threads .meta::before { display: table; content: ""; line-height: 0; }
.updatable { transition: all 0.3s linear 0s; }
.upvoters-outer::after, .upvoters-outer::before { content: ""; display: block; height: 10px; position: absolute; left: 0px; right: 0px; z-index: 900; border-radius: 5px; }
.upvoters-outer::before { top: 0px; background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)); }
.upvoters-outer::after { bottom: 0px; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255)); }
@keyframes new-upvoter-insertion {
  0% { opacity: 0; margin-top: -50px; }
  50% { margin-top: 0px; }
  100% { opacity: 1; margin-top: 0px; }
}
@keyframes new-upvoter-guest {
  0% { color: inherit; }
  100% { color: rgba(29, 47, 58, 0.6); }
}
.tooltip-outer .tooltip-point::after { box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2); transform: rotate(45deg); }
.tooltip-outer .tooltip-point::after, .tooltip-outer .tooltip-point::before { content: ""; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; left: 20px; top: -20px; width: 25px; height: 25px; }
.tooltip-outer .tooltip-point::before { box-shadow: 0px 0px 0px 3px rgb(255, 255, 255); transform: rotate(45deg); }
.tooltip-outer div.point-position-tl::after, .tooltip-outer div.point-position-tl::before { top: 9px; }
.tooltip { position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: auto; border-radius: 5px; box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2); padding: 8px 8px 0px; color: rgb(127, 141, 153); }
.tooltip footer::after, .tooltip footer::before { display: table; content: ""; line-height: 0; }
#footer li, .parent-link { position: relative; }
#footer a, .notifications .notification .notification-meta { font-size: 12px; }
.use-opacity-transitions .postbox .post-actions { transition: opacity 0.2s linear 0s; }
.use-opacity-transitions .postbox .post-actions .wysiwyg li a span { transition: opacity 0.1s linear 0s; }
.use-opacity-transitions .tooltip { transition: opacity 0.25s linear 0s; }
.use-opacity-transitions .auth-section .connect .services button, .use-opacity-transitions .dropdown-menu { transition: opacity 0.2s ease 0s; }
.use-opacity-transitions .share > * a { transition: opacity 0.2s linear 0s; }
.use-opacity-transitions #footer .email .icon-checkmark { transition-property: opacity, top; }
#footer { border-top: 2px solid rgba(0, 39, 59, 0.08); border-color: rgba(0, 39, 59, 0.08); padding: 24px 0px 10px; }
#footer ul::after, #footer ul::before { display: table; content: ""; line-height: 0; }
#footer li { float: left; margin: 0px 29px 0px 0px; }
#footer a { color: rgba(0, 39, 59, 0.2); padding: 0px 0px 0px 25px; font-weight: 700; }
#footer i { position: absolute; left: 0px; }
#footer .logo { float: right; margin: 0px; }
#footer .logo a { display: block; float: right; text-indent: -9999em; background-image: url("sprite.06bad3144429d24544aa8b00ffd77160.png"); background-size: 86px 134px; background-position: 0px -50px; height: 16px; width: 86px; padding: 0px; }
#footer .email a, #footer .install a, #footer .privacy a { line-height: 1.1; transition: color 0.2s ease 0s; }
#footer .email a:hover, #footer .install a:hover, #footer .privacy a:hover { color: rgb(165, 178, 185); }
#footer .privacy { margin-right: 0px; }
#footer .privacy a { padding: 0px 0px 0px 22px; }
#footer .privacy i { font-size: 16px; left: 3px; }
#footer .install i { font-size: 18px; top: 0px; }
#footer .email a { padding: 0px 0px 0px 25px; }
#footer .email i { font-size: 19px; top: -1px; }
#footer .email .input-wrapper input { padding: 4px 8px; height: 24px; position: relative; top: -5px; font-size: 11px; }
#footer .email .icon-checkmark { opacity: 0; visibility: hidden; transition: top 0.15s ease-in-out 0s; color: rgb(143, 200, 71); font-size: 12px; position: absolute; right: -19px; top: -5px; left: auto; }
#footer .email.show-form .default, #footer .email > .form { display: none; }
.serif .post-message p, .serif .top-thread-post p, .serif .top-user p { font-family: Georgia,Times,serif; }
.help-icon { border-radius: 9px; border: 2px solid rgba(0, 39, 59, 0.5); display: inline-block; padding: 1px 4px; margin-top: -2px; font-size: 12px; height: 18px; width: 19px; }
.help-icon::before { content: "?"; font-weight: 700; color: rgba(29, 47, 58, 0.6); }
@media screen and (min-width: 480px) {
  .visible-sm { display: none ! important; }
}
@media screen and (max-width: 480px) {
  .hidden-sm { display: none ! important; }
}
@media screen and (min-width: 320px) {
  .visible-xs { display: none ! important; }
}
@media screen and (max-width: 320px) {
  .hidden-xs { display: none ! important; }
}
body.dark .notice::after, body.dark .notice::before { display: table; content: ""; line-height: 0; }
body.dark .notice::after { clear: both; }
body.dark .post-content .see-more::before { box-shadow: 0px -3px 3px rgba(255, 255, 255, 0.08); }
body.dark .help-icon::before { color: rgba(255, 255, 255, 0.7); }
body.dark .nav-primary > ul > li.notification-menu.notification-loading::before { border-color: transparent rgb(255, 255, 255); }
body.dark .mention::after { color: rgb(255, 255, 255) ! important; }
.mobile .post-list .authored-by-session-user form.edit::before, .mobile .post-list .authored-by-session-user form.reply::before { left: 140px; }
.mobile .post-list .post .post-content .post-body .post-meta span.total-votes .icon::before { vertical-align: middle; }
.mobile .post-list .post .post-content .post-body footer menu li .icon::before { vertical-align: middle; }
.mobile .post-list .children .post::after, .mobile .post-list .post .post-content .post-body footer menu li.realtime a .indicator { display: none; }
.mobile .dark .post-list .post form.reply::before { background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; }
.see-more { z-index: 901; color: rgba(29, 47, 58, 0.6); text-align: center; font-size: 12px; font-weight: 700; cursor: pointer; display: block; }
.see-more.hidden { display: none; }
@media (max-width: 480px) {
  .auth-section { margin: 0px; }
  .auth-section .guest { margin: 0px; padding: 2px 0px 0px; border: medium none; clear: both; }
  .auth-section .guest .guest-checkbox { float: none; margin-bottom: 19px; }
  .auth-section .proceed { width: 100%; float: none; }
  #footer { padding-top: 7px; }
  #footer .disqus-footer { border-bottom: 1px solid rgba(0, 49, 79, 0.08); }
  #footer .disqus-footer .icon { font-size: 14px; top: 3px; }
  #footer .disqus-footer__item { margin: 0px; border: medium none; padding: 1px 15px 10px 0px; }
  #footer a { font-size: 11px; padding: 0px 0px 0px 18px; }
  #footer .logo { padding-top: 2px; padding-right: 0px; }
  #footer .logo a { margin: 0px auto; float: none; }
  #footer .email a { padding-left: 20px; }
  #footer .privacy { padding-right: 5px; margin-left: -4px; }
  #footer .privacy a { padding-left: 17px; }
  #footer .privacy.disqus-footer__item .icon { font-size: 13px; }
  .dropdown-menu.coachmark { max-width: 280px; width: 280px; }
  .dropdown-menu.coachmark h2 { font-size: 14px; }
  .dropdown-menu.coachmark p { font-size: 13px; }
}
