/* Effective stylesheet produced by snapshot save */
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Georgia,Times New Roman,Times,serif; font-size: 30px; text-align: center; margin: 0px; padding: 0px; }
h1 { font-size: 60px; font-weight: normal; margin: 0px; font-family: "Chelsea Market",Georgia,serif; color: rgb(0, 0, 0); line-height: 1; }
h2 { font-size: 70px; font-weight: normal; margin: 0px; color: rgb(255, 176, 0); font-family: "Chelsea Market",Georgia,serif; text-transform: lowercase; }
h3 { font-size: 40px; font-weight: normal; margin: 40px 0px 0px; text-transform: lowercase; }
p { width: 960px; margin: 40px auto; color: rgb(0, 0, 0); line-height: 200%; }
a, a:visited { color: rgb(0, 0, 0); font-size: 12px; text-decoration: none; }
a:hover { text-decoration: underline; }
ul { list-style: outside none none; }
code { background-color: rgb(0, 0, 0); font-style: normal; border-radius: 10px; color: white; padding: 5px 15px; font-family: menlo,monospace; }
.scrollblock { position: relative; margin: 0px; width: 100%; color: white; padding-top: 80px; padding-bottom: 80px; }
.scrollblock h2 {  }
.block-title { background-color: rgb(255, 255, 255); padding-bottom: 50px; }
.block-title .meta { font-size: 16px; color: rgb(153, 153, 153); }
.block-title .meta a { font-size: 16px; color: rgb(51, 51, 51); }
.block-setup { background-color: rgb(52, 143, 212); }
.block-setup h2 { color: rgb(6, 64, 108); }
.block-setup a { color: rgb(255, 255, 255); font-size: 40px; font-weight: normal; font-style: normal; background-color: rgb(6, 64, 108); padding: 10px 15px; border-radius: 10px; text-decoration: none; }
.block-setup a:hover { text-decoration: underline; }
.block-create { background-color: rgb(6, 64, 108); }
.block-create h2 { color: rgb(255, 255, 255); }
.block-create p { color: rgb(255, 255, 255); }
.block-create code { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
.block-checkout { background-color: rgb(255, 255, 255); }
.block-checkout h2 { color: rgb(0, 0, 0); }
.block-trees { background-color: rgb(76, 13, 9); }
.block-trees h2 { color: rgb(211, 178, 175); }
.block-trees p { color: rgb(211, 178, 175); }
.block-trees code { color: rgb(0, 0, 0); background-color: white; }
.block-add { background-color: rgb(204, 64, 55); }
.block-add h2, .block-add p { color: rgb(76, 13, 9); }
.block-remote { background-color: rgb(255, 193, 159); }
.block-remote h2 { color: rgb(204, 64, 55); }
.block-branching { background-color: rgb(0, 0, 0); }
.block-branching h2 { color: rgb(255, 255, 255); }
.block-branching p { color: rgb(221, 221, 221); }
.block-branching code { color: rgb(0, 0, 0); background-color: white; }
.block-merging { background-color: rgb(242, 242, 242); }
.block-merging h2 { color: rgb(102, 102, 102); }
.block-tagging { background-color: rgb(242, 242, 242); }
.block-tagging h2 { color: rgb(255, 255, 255); }
.block-hints { background-color: rgb(242, 242, 242); }
.block-hints h2 { color: rgb(255, 255, 255); }
.block-resources { background-color: rgb(255, 193, 159); }
.block-resources h2 { color: rgb(204, 64, 55); }
.block-resources h3 { color: rgb(125, 31, 25); }
.block-resources ul { list-style: outside none disc; margin: 0px; padding: 0px; }
.block-resources ul li a { font-size: 24px; color: rgb(204, 64, 55); }
.block-tagging { background-color: rgb(52, 143, 212); }
.block-tagging h2 { color: rgb(6, 64, 108); }
.block-hints { background-color: rgb(6, 64, 108); }
.block-hints h2 { color: rgb(255, 255, 255); }
.block-hints p { color: rgb(255, 255, 255); }
.block-hints code { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
.block-checkout-replace { background-color: rgb(255, 248, 201); }
.block-checkout-replace h2 { color: rgb(45, 39, 0); }
.block-checkout-replace p { color: rgb(97, 84, 0); }
.block-comments { background-color: rgb(255, 255, 255); padding-bottom: 50px; font-size: 14px; color: rgb(0, 0, 0); }
.block-comments h2 { color: rgb(0, 0, 0); }
.block-comments #disqus_thread { width: 600px; text-align: left; margin-left: auto; margin-right: auto; }
.tower { display: block; width: 180px; height: 260px; position: absolute; top: 330px; right: 0px; background: rgb(255, 255, 255) url("git-tower.png") no-repeat scroll 0% 0%; }
.cheatsheet { display: block; width: 180px; height: 250px; position: absolute; top: 346px; left: 0px; background: rgb(255, 255, 255) url("cheatsheet.png") no-repeat scroll 0% 0%; }
.announcement { margin-bottom: 40px; }
.announcement img { border-radius: 4px; }
